@page "/"

<h3>Home</h3>
<a href="/profile">Profile</a>
<div class="container">
	<div class="card">
		<img src="Img/Indoor_Turf.jpg" alt="Turf Image" />
		<div class="details">
			<h2>Indoor Turf</h2>
			<h3>Batlagundu</h3>
			<button>View Details</button>
		</div>
	</div>
</div>
@code {

}
